{% extends "base.html" %}
{% load static %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static "main.css" %}">
{% endblock %}

{% block title %} Вход {% endblock %}

{% block content %}
    <div class="container" style="text-align: center">
        <div class="row ma-5">
            <div class="container">
                <h1>Система отчетов</h1>
                <p>Для работы с системой необходимо, чтобы администратор выдал Вам доступ.</p>
            </div>
        </div>

        <div class="row ma-5">
            <div class="container container-small">
                <form action="{% url "login" %}" method="post">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="mad-5">Вход в систему</h3>
                            <div class="form-group">
                                <label class="sr-only" for="login" hidden>Логин</label>
                                <input type="text" name="login" class="form-control" id="login" placeholder="Логин">
                            </div>
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="password" hidden>Пароль</label>
                                <input type="password" name="password" class="form-control" id="password"
                                       placeholder="Пароль">
                            </div>
                            <button type="submit" class="btn btn-primary">Войти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row ma-5">
                    <p>Репозиторий: <a href="https://github.com/theseems">GitHub</a>, автор <a
                            href="//theseems.ru">TheSeems</a></p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}