<div class="card">
    <div class="card-body">
        <h4>Статусы отчетов</h4>
        {% include "reports/status-badge.html" with name='W' desc='В очереди на рассмотрение' %}
        {% include "reports/status-badge.html" with name='L' desc='Рассматривается' %}
        {% include "reports/status-badge.html" with name='D' desc='Отклонен' %}
        {% include "reports/status-badge.html" with name='A' desc='Принят' %}
        {% include "reports/status-badge.html" with name='F' desc='Исправлено' %}

        <h4 class="ma-2">Статистика</h4>
        <p class="card-text">
            Отчетов: {{ total }}<br>
            {% if not filters %}
                Исправлено по отчетам: {{ fixed }}<br>
            {% endif %}
            Ваших отчетов: {{ your }}
        </p>
    </div>
</div>

<div class="card ma-2" style="text-align: center">
    <form action="{% url "create" %}">
        <input type="submit" style="width: 100%; border-radius: 0" class="btn btn-dark" value="Создать отчет">
    </form>
    <div class="btn-group" role="group">

        <button type="button" onclick="prev_page()" class="btn"
                style="border-radius: 0">Назад
        </button>

        <button type="button" class="btn" onclick="next_page()"
                style="border-radius: 0">Далее
        </button>
    </div>
</div>

